:root {
  --primary-color: #8e74b5;
  --secondary-color: #f9a352;
  --primary-text: #512b81;
  --bs-success: #198754;
}

header.style-9 {
  /* background-image: url(../images/head_15_back.png) !important; */
  background-image: none;
  background-color: var(--primary-text);
}

header.style-9 .info h1 {
  font-size: 50px;
  ;
}

header.style-9 .info h1 span {
  color: var(--secondary-color) !important;
}

.choose-us.style-9 .feat-content .info .icon {
  width: 50px !important;
}

.section-head.style-9 h2 {
  color: var(--primary-text) !important;
}

.section-head.style-12 h2 {
  font-size: 30px;
}

.section-head.style-12 h2 {
  color: var(--primary-text) !important;
}

.projects.style-7 .projects-tabs .nav-pills .nav-item .nav-link:hover,
.projects.style-7 .projects-tabs .nav-pills .nav-item .nav-link.active {
  text-decoration: none;
}

.choose-us.style-7 .info li .icon img {
  width: 40px;
}

.choose-us.style-7 .info li {
  margin: 0;
}

.choose-us.style-7 {
  background-color: white !important;
}

.section-head.style-12 h1 span {
  color: transparent;
  -webkit-text-stroke: 1px var(--secondary-color) !important;
}

.section-head.style-4 h5 {
  color: var(--secondary-color) !important;
}

.primary-text {
  color: var(--primary-text) !important;
}

.secondary-text {
  color: var(--secondary-color) !important;
}

.color-secondary {
  color: var(--secondary-color) !important;
}

/* @media screen and (min-width: 8501px) {
  .features-slider7 {
    position: relative;
  }
  .features-slider7 .swiper-slide {
    width: 250px !important;
  }
} */

.features.style-7 {
  background-color: white;
}

footer.style-9 {
  background-color: var(--primary-text) !important;
}

.bg-gradient {
  /* background-image: url(../images/head_15_back.png) !important; */
  background-color: var(--primary-text);
}

footer.style-9 .foot {
  margin-top: 0;
}

/* .choose-us.style-9 .feat-content .img{
  height: 500px;
  border-radius: 20px;
} */

.choose-us.style-9 .feat-content .play_icon {
  top: 280px !important;
}

.choose-us.style-9 .feat-content {
  padding-top: 0px !important;
}

#preloader:after,
#preloader:before {
  content: "";
  position: fixed;
  left: 0;
  height: 50%;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(var(--primary-color)), to(var(--secondary-color)));
  background: -o-linear-gradient(left, var(--primary-color), var(--secondary-color));
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 30px;
  left: 30px;
  background-color: var(--bs-success);
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}

.choose-us.style-9 .feat-content .info h2 {
  color: var(--primary-text) !important;
}
